body {
  background: rgb(217, 192, 238);
}

#theEnd {
  padding: 20px 9px 0 206px;
  font-size: 100px;
}

img {
  max-height: 300px;
  max-width: 100%;
  margin: 0 auto;
  cursor: pointer;
}
#all_products {
  display: inline-flex;
  text-align: center;
}
#all_products img {
  max-height: 3000px;
    max-width: 100%;
  padding: 0;
  margin: 107px 64px;
  border: 33px solid #644969;
 
}
