body {
  background: rgb(217, 192, 238);
}

#theEnd {
  padding: 20px 9px 0 206px;
  font-size: 100px;
}

img {
  max-height: 300px;
  max-width: 100%;
  margin: 0 auto;
  cursor: pointer;
}
#all_products {
  display: inline-flex;
  text-align: center;
}
#all_products img {
  max-height: 3000px;
    max-width: 100%;
  padding: 0;
  margin: 107px 64px;
  border: 33px solid #644969;
 
}

/* 'use strict';

var productImages = [
  'bag.jpg',
  'banana.jpg',
  'bathroom.jpg',
  'boots.jpg',
  'breakfast.jpg',
  'bubblegum.jpg',
  'cthulhu.jpg',
  'dog-duck.jpg',
  'dragon.jpg',
  'pen.jpg',
  'pet-sweep.jpg',
  'scissors.jpg',
  'shark.jpg',
  'sweep.png',
  'tauntaun.jpg',
  'unicorn.jpg',
  'usb.gif',
  'water-can.jpg',
  'wine-glass.jpg',
  'chair.jpg'
];


var leftProductImg = document.querySelector('#left_product_img');
var centerProductImg = document.querySelector('#center_product_img');
var rightProductImg = document.querySelector('#right_product_img');
var groupProductImages = document.getElementById('all_products');
var products = [];//an array to store all products object
var totalClicks = 0;
var products2 = [];
/////////////////////////////////////////////////////////////////////////////

//constructor function to generate dynamic product objects
function Product(name){
  this.name = name.split('.')[0];
  this.urlImage = `images/${name}`;
  this.clicksNumber = 0;
  this.viewsNumber = 0;
  products.push(this);//this its refer to the object that im created
  products2.push(this);
}

//////////////////////////////////////////////////////////////////////////////

var leftImageRandom , centerImageRandom , rightImageRandom ;
function pickRandomImages(){
  leftImageRandom = products[randomNumber(0 , products.length-1 )];
  centerImageRandom = products[randomNumber(0 , products.length-1 )];
  rightImageRandom = products[randomNumber(0 , products.length-1 )];


  leftProductImg.setAttribute('src' , leftImageRandom.urlImage);
  leftProductImg.setAttribute('alt' , leftImageRandom.name);
  centerProductImg.setAttribute('src' , centerImageRandom.urlImage);
  centerProductImg.setAttribute('src' , centerImageRandom.urlImage);
  rightProductImg.setAttribute('src' , rightImageRandom.urlImage);
  rightProductImg.setAttribute('alt' ,rightImageRandom.name);


  while(leftImageRandom===centerImageRandom || rightImageRandom === centerImageRandom || leftImageRandom === rightImageRandom){

    leftImageRandom = products[randomNumber(0 , products.length-1 )];
    centerImageRandom = products[randomNumber(0 , products.length-1 )];
    rightImageRandom = products[randomNumber(0 , products.length-1 )];

    leftProductImg.setAttribute('src' , leftImageRandom.urlImage);
    leftProductImg.setAttribute('alt' , leftImageRandom.name);
    centerProductImg.setAttribute('src' , centerImageRandom.urlImage);
    centerProductImg.setAttribute('src' , centerImageRandom.urlImage);
    rightProductImg.setAttribute('src' , rightImageRandom.urlImage);
    rightProductImg.setAttribute('alt' ,rightImageRandom.name);

  }
}

/////////////////////////////////////////////////////////////////////////

for(var i = 0; i< productImages.length ; i++){
// console.log(productImages[i]);
  new Product(productImages[i]);//we pass the name of the product from the array
}
pickRandomImages();

// Variables to store the product already on the page
// the allImages array is a property of the ProductPicture constructor

//////////////////////////////////////////////////////////////////////////
var first , second , third ;
function finalRender(){
  first = products2[randomNumber(0 , products2.length-1 )];
  second = products2[randomNumber(0 , products2.length-1 )];
  third = products2[randomNumber(0 , products2.length-1 )];

  leftProductImg.setAttribute('src' , first.urlImage);
  leftProductImg.setAttribute('alt' , first.name);
  centerProductImg.setAttribute('src' , second.urlImage);
  centerProductImg.setAttribute('src' , second.urlImage);
  rightProductImg.setAttribute('src' , third.urlImage);
  rightProductImg.setAttribute('alt' ,third.name);


  while(first===second || third === second || first === third){

    first = products2[randomNumber(0 , products2.length-1 )];
    second = products2[randomNumber(0 , products2.length-1 )];
    third = products2[randomNumber(0 , products2.length-1 )];

    leftProductImg.setAttribute('src' , first.urlImage);
    leftProductImg.setAttribute('alt' , first.name);
    centerProductImg.setAttribute('src' , second.urlImage);
    centerProductImg.setAttribute('src' , second.urlImage);
    rightProductImg.setAttribute('src' ,third.urlImage);
    rightProductImg.setAttribute('alt' ,third.name);

  }

  if ((leftImageRandom=== (first || second || third)) || (centerImageRandom === (first || second || third)) ||
(rightImageRandom === (first || second || third))){
    pickRandomImages();

  }
}


//console.log(finalRender);



/////////////////////////////////////////////////////////////////////////

groupProductImages.addEventListener('click' , clickImage);

function clickImage(e){

  if(totalClicks < 25 ){

    if( e.target.id === 'left_product_img'){
      leftImageRandom.clicksNumber++;
    } if (e.target.id === 'center_product_img' ){
      centerImageRandom.clicksNumber++;
    } if (e.target.id === 'right_product_img'){
      rightImageRandom.clicksNumber++;
    }
    totalClicks++;
    leftImageRandom.viewsNumber++;
    rightImageRandom.viewsNumber++;
    centerImageRandom.viewsNumber++;

    finalRender();
    //pickRandomImages();

  } if (totalClicks === 25){
    groupProductImages.removeEventListener('click' , clickImage);
    render();
    console.log('finished');
    renderChart();

  }
}


/////////////////////////////////////////////////////////////////////////

function render() {
  var ulE1 = document.getElementById('theEnd');
  for (var i =0; i<products.length ; i++) {
    var liE1 = document.createElement('li');
    liE1.textContent = `${products[i].name} had ${products[i].clicksNumber} votes and was shown ${products[i].viewsNumber} times`;
    ulE1.appendChild(liE1);
  }
}




///////////////////////////////////////////////////////////////////////

// //helper functions
function randomNumber(min, max) {
  return Math.floor(Math.random() * (max - min + 1)) + min;
}

/////////////////////////////////////////////////////////////////////




function renderChart(){
  var myProductNames = [];
  var myProductClicks = [];
  var myviews = [];
  for(var i = 0 ; i < products.length ; i++){
    var productNames = products[i].name;
    myProductNames.push(productNames);
    var productClicks = products[i].clicksNumber;
    myProductClicks.push(productClicks);

    var productViews = products[i].viewsNumber;
    myviews.push(productViews);
  }


  var ctx = document.getElementById('myProducts').getContext('2d');
  // eslint-disable-next-line no-unused-vars
  var myChart = new Chart(ctx, {

    type: 'bar',
    data: {
      labels: myProductNames,
      datasets: [{
        label: '# of Votes',
        data:  myProductClicks,
        backgroundColor: 'rgba(20, 0, 0, 0.2)',
        borderColor: 'rgba(255, 99, 132, 1)',
        borderWidth: 1,
        yAxisID: 'left-y-axis'
      },
      {

        label: '# of views',
        data: myviews,
        backgroundColor: 'rgba(255, 99, 132, 0.2)',
        borderColor: 'rgba(255, 99, 132, 1)',
        borderWidth: 1,
        yAxisID: 'right-y-axis'

      }]
    },
    options: {
      scales: {
        yAxes: [{
          id: 'left-y-axis',
          type: 'linear',
          position: 'left'
        }, {
          id: 'right-y-axis',
          type: 'linear',
          position: 'right'
        }]
      }
    }
  });
} */
